<h5>*ngIf </h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos: {{ cursos }}
</div>

<div *ngIf="cursos.length == 0">
  Não exitem cursos para serem listados.
</div>

<div *ngIf="mostrarCursos" >
  Lista de cursos: {{ cursos }}
</div>

<div *ngIf="!mostrarCursos" >
  Não existem cursos
</div>

<br>
<button (click)="onMostrarCursos()" > Mostrar ou esconder cursos</button>

<h5>hidden como alternativa</h5>

<div [hidden]="!mostrarCursos" >
  Lista de cursos: {{ cursos }}
</div>

<div [hidden]="mostrarCursos" >
  Não existem cursos
</div>

<h3>Removendo o * e usando ng-template</h3>

<ng-template [ngIf]="mostrarCursos">
  <div>
     Lista de cursos: {{ cursos }}
</div>
</ng-template>

<div ng-template="ngif mostrarCursos">
  Lista de cursos: {{ cursos }}
</div>